fieldset{
	height: 100%;
	width: 60%;
}
.fielPrograma{
	background-color: none;
	margin-left: 20%;
}
.fieldRadio{
	background-color: none;
	margin-left: 20%;
}
.fieldPrecio{
	background-color: none;
	margin-left: 20%;
}
.fieldServicio{
	background-color: none;
	margin-left: 20%;
}
.fieldClientes{
	background-color: none;
	margin-left: 20%;
}
/*Estilo tr de tablas catalogos*/
.styleTR{
	background:rgba(248,249,244, 0.8);
}
.thead{
	background: #3682F3;
	color: white;
	text-align: center;
}
.thead > th{
}
/*input busqueda*/
#searchTerm{
	width: 25%;
}
