fieldset{
	height: 100%;
	width: 60%;
}
.fielPrograma{
	background-color: none;
	margin-left: 20%;
}
.fieldRadio{
	background-color: none;
	margin-left: 20%;
}
.fieldPrecio{
	background-color: none;
	margin-left: 20%;
}
.fieldServicio{
	background-color: none;
	margin-left: 20%;
}
.fieldClientes{
	background-color: none;
	margin-left: 20%;
}
/*Estilo tr de tablas catalogos*/
.styleTR{
	background:rgba(248,249,244, 0.8);
}
.thead{
	background: #3682F3;
	color: white;
	text-align: center;
}
.thead > th{
}
/*input busqueda*/
#searchTerm{
	width: 25%;
}
.txtNombUser{
	font-size: 13px;
	width:90px;
}
.txtPsw{
	font-size: 13px;
}
.buscar > form{
	margin-left: 2%;
	margin-bottom: 1%;
	margin-top: 1%
}
.espacio{
	padding-left: 4%;
}
.ocultar{
	display: none;
}
.popup{
	margin-top: 4%;
	width: 50%;
	height: 450px;
	background-color: white;
}
/*calendar*/
.calendar{
	height: 20px;
	margin-left: 25%
}
#calendar {
		max-width: 400px;
		width: 300px;
		margin: 0 auto;
	}
/*aliniamiento botoses
.EditCliente{
	margin-left: 45%;
}*/

